[submodule "versions"]
	path = versions
	url = https://github.com/aSoft-Ltd/versions
[submodule "able"]
	path = able
	url = https://github.com/aSoft-Ltd/able
[submodule "functions"]
	path = functions
	url = https://github.com/aSoft-Ltd/functions
[submodule "scripts"]
	path = scripts
	url = https://github.com/aSoft-Ltd/scripts
[submodule "kommander"]
	path = kommander
	url = https://github.com/aSoft-Ltd/kommander
[submodule "kollections"]
	path = kollections
	url = https://github.com/aSoft-Ltd/kollections
[submodule "kevlar"]
	path = kevlar
	url = https://github.com/aSoft-Ltd/kevlar
[submodule "kase"]
	path = kase
	url = https://github.com/aSoft-Ltd/kase
[submodule "koncurrent"]
	path = koncurrent
	url = https://github.com/aSoft-Ltd/koncurrent
[submodule "keep"]
	path = keep
	url = https://github.com/aSoft-Ltd/keep
[submodule "lexi"]
	path = lexi
	url = https://github.com/aSoft-Ltd/lexi
[submodule "cinematic"]
	path = cinematic
	url = https://github.com/aSoft-Ltd/cinematic
[submodule "krest"]
	path = krest
	url = https://github.com/aSoft-Ltd/krest
[submodule "kida"]
	path = kida
	url = https://github.com/aSoft-Ltd/kida
[submodule "symphony"]
	path = symphony
	url = https://github.com/aSoft-Ltd/symphony
[submodule "liquid"]
	path = liquid
	url = https://github.com/aSoft-Ltd/liquid
[submodule "epsilon"]
	path = epsilon
	url = https://github.com/aSoft-Ltd/epsilon
[submodule "identifier"]
	path = identifier
	url = https://github.com/aSoft-Ltd/identifier
[submodule "krono"]
	path = krono
	url = https://github.com/aSoft-Ltd/krono
[submodule "geo"]
	path = geo
	url = https://github.com/aSoft-Ltd/geo
[submodule "kash"]
	path = kash
	url = https://github.com/aSoft-Ltd/kash
[submodule "hormone"]
	path = hormone
	url = https://github.com/aSoft-Ltd/hormone
[submodule "kronecker"]
	path = kronecker
	url = https://github.com/aSoft-Ltd/kronecker
[submodule "sanity"]
	path = sanity
	url = https://github.com/aSoft-Ltd/sanity
[submodule "captain"]
	path = captain
	url = https://github.com/aSoft-Ltd/captain
[submodule "klip"]
	path = klip
	url = https://github.com/aSoft-Ltd/klip
[submodule "build-logic"]
	path = build-logic
	url = https://github.com/aSoft-Ltd/build-logic
[submodule "kotlinx-interoperable"]
	path = kotlinx-interoperable
	url = https://github.com/aSoft-Ltd/kotlinx-interoperable
[submodule "kiota"]
	path = kiota
	url = https://github.com/aSoft-Ltd/kiota
[submodule "neat"]
	path = neat
	url = https://github.com/aSoft-Ltd/neat
[submodule "podium"]
	path = podium
	url = https://github.com/aSoft-Ltd/podium
[submodule "krono-core"]
	path = krono-core
	url = https://github.com/aSoft-Ltd/krono-core
[submodule "epsilon-api"]
	path = epsilon-api
	url = https://github.com/aSoft-Ltd/epsilon-api
[submodule "epsilon-client"]
	path = epsilon-client
	url = https://github.com/aSoft-Ltd/epsilon-client
[submodule "formix"]
	path = formix
	url = https://github.com/aSoft-Ltd/formix
[submodule "status"]
	path = status
	url = https://github.com/asoft-ltd/status
